@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

#drumkit {
	width: 400px;
	height: 320px;
	margin: 20px auto;
}

#kick {
   margin: 0 auto;
   width: 300px; 
   height: 300px;
   background: #0e112a;
   -moz-border-radius: 300px; 
   -webkit-border-radius: 300px; 
   border-radius: 300px;
   z-index: 9999;
}

#kick-rim {
   width: 280px;
   height: 280px;
   background: #df6802; 
   -moz-border-radius: 280px; 
   -webkit-border-radius: 280px; 
   border-radius: 280px;
   margin: 10px 10px;
   position: absolute;
}

#kick-rim > .emblem {
	text-align: center;
	margin: 2px auto;
	font-size: 60px;
	width: 150px;
	height: auto;
	display: block;
}

.kick-hole-right {
   width: 110px;
   height: 110px;
   background: #0e112a; 
   margin: 150px 140px;
   -moz-border-radius: 110px; 
   -webkit-border-radius: 110px; 
   border-radius: 110px;
   position: absolute;
   -webkit-opacity: 0.6;
}

.kick-hole-right-rim {
   width: 95px;
   height: 95px;
   background: #df6802; 
   margin: 158px 147px;
   -moz-border-radius: 95px; 
   -webkit-border-radius: 95px; 
   border-radius: 95px;
   position: absolute;
   -webkit-opacity: 0.6;
}

.kick-hole-left {
   width: 110px;
   height: 110px;
   background: #0e112a; 
   margin: 150px 60px;
   -moz-border-radius: 110px; 
   -webkit-border-radius: 110px; 
   border-radius: 110px;
   position: absolute;
   -webkit-opacity: 0.6;
}

.kick-hole-left-rim {
   width: 95px;
   height: 95px;
   background: #df6802; 
   margin: 158px 67px;
   -moz-border-radius: 95px; 
   -webkit-border-radius: 95px; 
   border-radius: 95px;
   position: absolute;
   -webkit-opacity: 0.6;
}

.kick-hole-top {
   width: 110px;
   height: 110px;
   background: #0e112a; 
   margin: 100px 98px;
   -moz-border-radius: 110px; 
   -webkit-border-radius: 110px; 
   border-radius: 110px;
   position: absolute;
   -webkit-opacity: 0.8;
}

.kick-hole-top-rim {
   width: 95px;
   height: 95px;
   background: #df6802; 
   margin: 108px 105px;
   -moz-border-radius: 95px; 
   -webkit-border-radius: 95px; 
   border-radius: 95px;
   position: absolute;
   -webkit-opacity: 0.6;
}

#kick-stand-left {
	width: 12px;
	height: 50px;
	background: #0e112a;
	float: left;
	margin: 240px 20px;
	/* Safari */
	-webkit-transform: rotate(35deg);
	/* Firefox */
	-moz-transform: rotate(35deg);
	/* IE */
	-ms-transform: rotate(35deg);
	/* Opera */
	-o-transform: rotate(35deg);
}

#kick-stand-right {
	width: 12px;
	height: 50px;
	background: #0e112a;
	float: right;
	margin: 240px 20px;
	/* Safari */
	-webkit-transform: rotate(-35deg);
	/* Firefox */
	-moz-transform: rotate(-35deg);
	/* IE */
	-ms-transform: rotate(-35deg);
	/* Opera */
	-o-transform: rotate(-35deg);
}

#snare {
   width: 80px;
   height: 50px;
   margin: 85px 330px;
   background: #22284f; 
   -moz-border-radius: 6px; 
   -webkit-border-radius: 6px; 
   border-radius: 6px;
   position: absolute;
   border: 7px solid #0e112a;
   z-index: 9992;
   /* Safari */
	-webkit-transform: rotate(-9deg);
	/* Firefox */
	-moz-transform: rotate(-9deg);
	/* IE */
	-ms-transform: rotate(-9deg);
	/* Opera */
	-o-transform: rotate(-9deg);
}

.snare-rim {
	width: 5px;
	height: 50px;
	background: #0e112a;
	float: right;
	margin-right: 13px;
}

#snare-stand {
	width: 8px;
	height: 90px;
	margin: 50px 33px;
	position: absolute;
	background: #0e112a;
}

#snare-stand-end {
	width: 8px;
	height: 30px;
	margin: 85px -3px;
	position: absolute;
	background: #0e112a;
	 /* Safari */
	-webkit-transform: rotate(10deg);
	/* Firefox */
	-moz-transform: rotate(10deg);
	/* IE */
	-ms-transform: rotate(10deg);
	/* Opera */
	-o-transform: rotate(10deg);
}

#snare-stand-spider-left {
	width: 8px;
	height: 60px;
	margin: 65px -22px;
	position: absolute;
	background: #0e112a;
	 /* Safari */
	-webkit-transform: rotate(55deg);
	/* Firefox */
	-moz-transform: rotate(55deg);
	/* IE */
	-ms-transform: rotate(55deg);
	/* Opera */
	-o-transform: rotate(55deg);
}

#snare-stand-spider-right {
	width: 8px;
	height: 60px;
	margin: 68px 22px;
	position: absolute;
	background: #0e112a;
	 /* Safari */
	-webkit-transform: rotate(-55deg);
	/* Firefox */
	-moz-transform: rotate(-55deg);
	/* IE */
	-ms-transform: rotate(-55deg);
	/* Opera */
	-o-transform: rotate(-55deg);
}

